.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes loading {
  from {background-color: whitesmoke; }
  to { background-color: azure }
}

.listing {
  margin: 3rem;
  padding: 3rem;
  border: 1px solid #333;
}

.listing li {
  list-style: none;
  margin-bottom: 0.4rem;
}
.listing li button {
  margin-left: 1rem;
}

.loading {
  animation: loading infinite 0.5s linear;
}